%h1 Sign-up

= form_tag users_path do
 
 = label :user, :user_id, 'Team Number'
 = text_field :user, 'user_id'

 = label :user, :email, 'Coach Email'
 = text_field :user, 'email'

 = label :user, :password, 'Password'
 = text_field :user, 'password'

 = submit_tag 'Create Team'

