%h1 Sign-up

= form_tag teams_path do
 
 = label :team, :team, 'Team Number'
 = text_field :team, 'team'

 = label :team, :coach_first, 'Coach Name'
 = text_field :team, 'main_contact'

 = label :team, :email, 'Coach Email'
 = text_field :team, 'main_contact_email'

 = submit_tag 'Create Team'

