-#  This file is app/views/leagues/show.html.haml
%h1 #{@league.league_name}

= form_tag league_path, :method => :put

%table#show
  %tr
    %th Team Numbers
    %th Coach Name
    -if @current_user.user_id == "Becca"
      %th Select Admin

  - @coach_hash.each_pair do |team_no, coach_name|
    %tr
    %td= team_no
    %td= coach_name
    -if @current_user.user_id == "Becca"
      %td= radio_button_tag "coach_name", "#{coach_name}"

-if @current_user.user_id == "Becca"
  = submit_tag 'Make League Admin'

= link_to 'Back', leagues_path

