-#  This file is app/views/users/index.html.haml

%h1 Global Admin Page

= form_tag import_teams_path, multipart: true do

  = file_field_tag :file
  = submit_tag 'Upload CSV'
%br
= button_to 'Generate Leagues', teams_create_leagues_path
%br
= link_to 'Show Teams', teams_path


