-#  This file is app/views/events/index.html.haml
%h1 All Events

%table#events
  %thead
    %tr
      %th Event Detail
      %th Event Venue
      %th Event Date
      %th Event Type
  %tbody
    - @events.each do |event|
      %tr
        %td= event.eventdesp 
        %td= event.eventlocation
        %td= event.eventdate.strftime('%m/%d/%Y')
        %td= event.eventscope

= button_to 'Export as CSV', export_events_path
%br
%br
= link_to 'Add new Event', new_event_path
%br
%br
-if @current_user.user_id == "Becca"
  = link_to 'Back', users_path
-else
  = link_to 'Back',:action=>"show", :controller=>"users", :id=>"#{@current_user.user_id}"

