%h1 New Event

= form_tag events_path do

  = label :event, :eventdate, 'Event Date'
  = date_select :event, :eventdate

  = label :event, :eventdesp, 'Event Details'
  = text_field :event, 'eventdesp'
 
  = label :event, :eventlocation, 'Event Venue'
  = text_field :event, 'eventlocation'

  = submit_tag 'Add Event'
-if @current_user.user_id == "Becca"
  = link_to 'Back', users_path
-else
  = link_to 'Back',:action=>"show", :controller=>"users", :id=>"#{@current_user.user_id}"
